@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: #00d8fc;

    --background: 200 65% 3.92%;
    --foreground: 200 10% 97.45%;

    --muted: 200 50% 14.7%;
    --muted-foreground: 200 10% 54.9%;

    --popover: 200 45% 6.37%;
    --popover-foreground: 200 10% 97.45%;

    --card: 200 45% 6.37%;
    --card-foreground: 200 10% 97.45%;

    --border: 200 50% 14.7%;
    --input: 200 50% 14.7%;

    --primary: 200 100% 49%;
    --primary-foreground: 200 10% 4.9%;

    --secondary: 200 50% 14.7%;
    --secondary-foreground: 200 10% 97.45%;

    --accent: 200 50% 14.7%;
    --accent-foreground: 200 10% 97.45%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 200 10% 97.45%;

    --ring: 200 100% 49%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}